* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#volume-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    width: 300px;
    height: 100px;
}

#volume-value {
    margin: 10px;
    font-size: 25px;
}

.slider-color {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}